name: screen_time_api_ios
description: A Flutter plugin for using iOS ScreenTime API
version: 0.0.4
homepage: https://github.com/kboy-silvergym/screen_time_api_ios

environment:
    sdk: ">=3.1.3 <4.0.0"
    flutter: ">=3.3.0"

dependencies:
    flutter:
        sdk: flutter
    plugin_platform_interface: ^2.0.2

dev_dependencies:
    flutter_test:
        sdk: flutter
    flutter_lints: ^2.0.0

flutter:
    plugin:
        platforms:
            ios:
                pluginClass: ScreenTimeApiIosPlugin

# This package supports only iOS.
platforms:
    ios:
